{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403 - Prohibido</title>
    <!-- Agrega Bootstrap desde una CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Agrega aquí tus enlaces a hojas de estilo CSS personalizadas si es necesario -->
    <link rel="stylesheet" href="{% static 'App_curriculums/css/Error_403.css' %}">
</head>
<body>
    <div class="container">
        <h1>Error 403 - Prohibido</h1>
        <p>Lo siento, no tienes permiso para acceder a esta página.</p>
        <p>Puedes probar confirmar tu dirección de correo electrónico para activar tu cuenta si aún no lo has hecho.</p>
    </div>
</body>
</html>