{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Empleos</title>
    
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Include your custom CSS -->
    <link rel="stylesheet" href="{% static 'App_curriculums/css/Home.css' %}">

    <!-- Include jQuery, Popper.js, and Bootstrap JS from CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <!-- Navbar with Bootstrap classes -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {%if request.session.rol_usu == 0%}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'Listado_trabajos'%}">Buscar empleos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Opcion B</a>
                        </li>
                        {%elif request.session.rol_usu == 1%}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Buscar empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Opcion B</a>
                        </li>
                        {%endif%}
                        <li class="nav-item dropdown">
                            <!-- Verifica si el usuario está autenticado -->
                            {% if request.session.rol_usu == 0 %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="menuEmpleadoDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tu CV
                                </a>
                                <div class="dropdown-menu" aria-labelledby="menuEmpleadoDropdown">
                                    <!-- Agrega opciones dentro del menú desplegable -->
                                    <a class="dropdown-item" href="cvdm">Administrar CV</a>
                                    <a class="dropdown-item" href="#"></a>
                                    <a class="dropdown-item" href="#">Opción 3</a>
                                    <!-- Puedes agregar más opciones según tus necesidades -->
                                </div>
                            </li>

                            {% elif request.session.rol_usu == 1 %}
                            <!-- Mostrar menú específico para el rol 1 (si corresponde) -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="menuEmpleadorDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tus solicitudes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="menuEmpleadorDropdown">
                                    <!-- Agrega opciones dentro del menú desplegable -->
                                    <a class="dropdown-item" href="{%url 'publicar_trabajo' %}">Publicar trabajo</a>
                                    <a class="dropdown-item" href="#">Solicitudes de empleo</a>
                                    <a class="dropdown-item" href="#"></a>
                                    <!-- Puedes agregar más opciones según tus necesidades -->
                                </div>
                            </li>

                            {% else %}
                                <!-- Mostrar menú de registro de currículums cuando el usuario esté autenticado -->
                                <a class="nav-link dropdown-toggle" href="#" id="registroDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Registro
                                </a>
                                <div class="dropdown-menu" id="registroDropdownMenu" aria-labelledby="registroDropdown">
                                    <a class="dropdown-item" href="regemp">Registro Empleado</a>
                                    <a class="dropdown-item" href="regcontr">Registro Empleador</a>
                                </div>
                            {% endif %}
                        </li>
                        <li class="nav-item dropdown">
                            <!-- Verifica si el usuario está autenticado -->
                            {% if request.session.rol_usu == 0 %}
                            <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mi Perfil
                            </a>
                            <div class="dropdown-menu" id="perfilDropdownMenu" aria-labelledby="perfilDropdown">
                                <a class="dropdown-item" href="#">Ver Perfil</a>
                                <a class="dropdown-item" href="#">Editar Perfil</a>
                                <form method="post" action="{% url 'user_logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link">Cerrar Sesión</button>
                                </form>
                            </div>

                            {% elif request.session.rol_usu == 1 %}
                            <!-- Mostrar menú específico para el rol 1 (si corresponde) -->
                            <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mi Perfil
                            </a>
                            <div class="dropdown-menu" id="perfilDropdownMenu" aria-labelledby="perfilDropdown">
                                <a class="dropdown-item" href="#">Ver Perfil</a>
                                <a class="dropdown-item" href="#">Editar Perfil</a>
                                <form method="post" action="{% url 'user_logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link">Cerrar Sesión</button>
                                </form>
                            </div>

                            {% else %}
                            <a class="nav-link dropdown-toggle" href="#" id="inicioSesionDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Iniciar Sesión
                            </a>
                            <div class="dropdown-menu" id="inicioSesionDropdownMenu" aria-labelledby="inicioSesionDropdown">
                                <a class="dropdown-item" href="emplogin">Iniciar Sesión Empleado</a>
                                <a class="dropdown-item" href="contrlogin">Iniciar Sesión Empleador</a>
                            </div>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% if request.session.rol_usu == 0 %}
    <!-- Contenido específico para usuarios con sesión igual a 0 (por ejemplo, rol de empleado) -->
    <p>Empleos Recomendados</p>
    <!-- Puedes agregar más contenido específico aquí -->
        
    {% elif request.session.rol_usu == 1 %}
        <!-- Contenido específico para usuarios con sesión igual a 1 (por ejemplo, rol de empleador) -->
        <p>Contenido para empleadores</p>
        <!-- Puedes agregar más contenido específico aquí -->
    
    {%else %}
    <div class="container">
        <h1>Bienvenido a la Página de Empleos</h1>
        <p class="description">Encuentra tu próximo trabajo o publica una oferta laboral. ¡Comienza tu búsqueda hoy!</p>
    </div>    
        
    {% endif %}

    <!-- Include Bootstrap JS and jQuery from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
