<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Empleos</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <button class="start-button" onclick="window.location.href='Home.html'">Comenzar</button>
    </header>
    <div class="container">
        <h1>Bienvenido a la Página de Empleos</h1>
        <p class="description">Encuentra tu próximo trabajo o publica una oferta laboral. ¡Comienza tu búsqueda hoy!</p>
    </div>
</body>
</html>