{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    <!-- Enlazar al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Enlazar al archivo CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'App_curriculums/css/inicio_empleado.css' %}">
</head>
<body>
    <div class="container">
        <h2>Inicio de Sesión</h2>
        <div class="login-container">
            <form action="procesar_login.php" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario:</label>
                    <input type="text" id="usuario" name="usuario" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
        </div>
    </div>

    <!-- Enlazar al archivo JS de Bootstrap y jQuery (asegúrate de colocarlo antes del cierre del </body>) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
