{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Trabajo</title>
    <!-- Agrega aquí tus enlaces a hojas de estilo o scripts adicionales si es necesario -->
    <link rel="stylesheet" type="text/css" href="{% static 'App_curriculums/css/publicar_trabajo.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Publicar Trabajo</h1>
    </header>

    <section>
        <h2>Detalles del Trabajo</h2>
        <form action="{% url 'guardar_trabajo' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="titulo">Título del Trabajo:</label>
                <input type="text" id="titulo" name="titulo" required>
            </div>

            <div>
                <label for="descripcion">Descripción del Trabajo:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>

            <div>
                <label for="requisitos">Requisitos del Trabajo:</label>
                <textarea id="requisitos" name="requisitos" rows="4" required></textarea>
            </div>

            <div>
                <label for="ubicacion">Ubicación del Trabajo:</label>
                <input type="text" id="ubicacion" name="ubicacion" required>
            </div>

            <div>
                <label for="sueldo">Sueldo:</label>
                <input type="number" id="sueldo" name="sueldo" required>
            </div>

            <div class="mb-3">
                <label for="tipo_trabajo" class="form-label">Tipo de Trabajo:</label>
                <select class="form-select" id="tipo_trabajo" name="tipo_trabajo" required>
                    <option value="" selected disabled>Selecciona un tipo de trabajo</option>
                    <option value="tiempo_completo">Tiempo Completo</option>
                    <option value="tiempo_parcial">Tiempo Parcial</option>
                    <option value="reemplazo">Reemplazo</option>
                    <option value="freelance">Freelance</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="tipo_contrato" class="form-label">Tipo de Contrato:</label>
                <select class="form-select" id="tipo_contrato" name="tipo_contrato" required>
                    <option value="" selected disabled>Selecciona un tipo de contrato</option>
                    <option value="indefinido">Indefinido</option>
                    <option value="plazo_fijo">Plazo Fijo</option>
                    <option value="practica">Práctica</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="area" class="form-label">Área del Trabajo:</label>
                <select class="form-select" id="area" name="area" required>
                    <option value="" selected disabled>Selecciona un área</option>
                    <option value="tecnologia">Tecnología</option>
                    <option value="salud">Salud</option>
                    <option value="finanzas">Finanzas</option>
                    <option value="educacion">Educación</option>
                    <option value="ventas">Ventas</option>
                    <option value="marketing">Marketing</option>
                    <option value="ingenieria">Ingeniería</option>
                    <option value="recursoshumanos">Recursos Humanos</option>
                    <option value="diseño">Diseño</option>
                    <option value="medioambiente">Medio Ambiente</option>
                    <option value="serviciosocial">Servicio Social</option>
                    <option value="construccion">Construcción</option>
                    <option value="consultoria">Consultoría</option>
                    <option value="logistica">Logística</option>
                    <option value="investigacion">Investigación</option>
                    <option value="arte">Arte</option>
                    <option value="derecho">Derecho</option>
                    <option value="comunicacion">Comunicación</option>
                    <option value="turismo">Turismo</option>
                    <option value="manufactura">Manufactura</option>
                    <option value="energiasrenovables">Energías Renovables</option>
                    <option value="agricultura">Agricultura</option>
                    <option value="cienciadatos">Ciencia de Datos</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="fecha_publicacion">Fecha de Publicación:</label>
                <input type="datetime-local" id="fecha_publicacion" name="fecha_publicacion" value="{% now 'Y-m-d\TH:i:s' %}" required>
            </div>
                
                <!-- Lista de checkboxes para cada especialidad -->
            <div class="mb-3 titulo-carrera">
                <label class="form-label">Especialidades buscadas:</label>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="desarrollo_web" id="especialidad_desarrollo_web" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_desarrollo_web">Desarrollo Web</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="psicologia_clinica" id="especialidad_psicologia_clinica" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_psicologia_clinica">Psicología Clínica</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="finanzas_corporativas" id="especialidad_finanzas_corporativas" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_finanzas_corporativas">Finanzas Corporativas</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="medicina_interna" id="especialidad_medicina_interna" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_medicina_interna">Medicina Interna</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="diseno_arquitectonico" id="especialidad_diseno_arquitectonico" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_diseno_arquitectonico">Diseño Arquitectónico</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="derecho_ambiental" id="especialidad_derecho_ambiental" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_derecho_ambiental">Derecho Ambiental</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="marketing_digital" id="especialidad_marketing_digital" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_marketing_digital">Marketing Digital</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="biologia_marina" id="especialidad_biologia_marina" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_biologia_marina">Biología Marina</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="historia_del_arte" id="especialidad_historia_del_arte" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_historia_del_arte">Historia del Arte</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="economia_global" id="especialidad_economia_global" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_economia_global">Economía Global</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="enfermeria_pediatrica" id="especialidad_enfermeria_pediatrica" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_enfermeria_pediatrica">Enfermería Pediátrica</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="diseno_grafico_publicitario" id="especialidad_diseno_grafico_publicitario" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_diseno_grafico_publicitario">Diseño Gráfico Publicitario</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="politicas_publicas" id="especialidad_politicas_publicas" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_politicas_publicas">Políticas Públicas</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ingenieria_estructural" id="especialidad_ingenieria_estructural" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_ingenieria_estructural">Ingeniería Estructural</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="psiquiatria_infantil" id="especialidad_psiquiatria_infantil" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_psiquiatria_infantil">Psiquiatría Infantil</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="educacion_fisica_adaptada" id="especialidad_educacion_fisica_adaptada" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_educacion_fisica_adaptada">Educación Física Adaptada</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="quimica_organica" id="especialidad_quimica_organica" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_quimica_organica">Química Orgánica</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="composicion_musical" id="especialidad_composicion_musical" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_composicion_musical">Composición Musical</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="literatura_contemporanea" id="especialidad_literatura_contemporanea" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_literatura_contemporanea">Literatura Contemporánea</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="analisis_matematico" id="especialidad_analisis_matematico" name="especialidades[]">
                    <label class="form-check-label" for="especialidad_analisis_matematico">Análisis Matemático</label>
                </div>

            </div>
                
                <small id="especialidadesHelp" class="form-text text-muted">Selecciona una o varias especialidades</small>
            </div>            

            <div class="mb-3">
                <label for="trabajo_remoto" class="form-label">Trabajo Remoto:</label>
                <select class="form-select" id="trabajo_remoto" name="trabajo_remoto" required>
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>

            <div>
                <label for="fecha_limite">Fecha Límite de Aplicación:</label>
                <input type="date" id="fecha_limite" name="fecha_limite">
            </div>

            <button type="submit">Publicar Trabajo</button>
        </form>
    </section>

    <!-- Agrega aquí cualquier otra sección o elemento necesario -->

    <footer>
        <!-- Agrega aquí el contenido del pie de página si es necesario -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>