{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Currículum</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Registro_c.css">
</head>
<body>

    {% if curriculum %}
    <section id="edit-resume" class="container my-4">
        <!-- Contenido de edición del currículum aquí -->
        <form method="post" action="{% url 'actualizar_curriculum'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre completo:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ curriculum.nombre_completo }}" required>
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo electrónico:</label>
                <input type="email" class="form-control" id="correo" name="correo" value="{{ curriculum.email }}" required>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" value="{{ curriculum.telefono }}">
            </div>

            <div class="mb-3">
                <label for="areaCurr" class="form-label">Área principal de trabajo:</label>
                <select class="form-select" id="areaCurr" name="areaCurr">
                    <option value="" disabled selected required>Seleccione una nueva area</option>
                    <option value="tecnologia">Tecnología</option>
                    <option value="salud">Salud</option>
                    <option value="finanzas">Finanzas</option>
                    <option value="educacion">Educación</option>
                    <option value="ventas">Ventas</option>
                    <option value="marketing">Marketing</option>
                    <option value="recursoshumanos">Recursos Humanos</option>
                    <option value="diseño">Diseño</option>
                    <option value="medioambiente">Medio Ambiente</option>
                    <option value="serviciosocial">Servicio Social</option>
                    <option value="construccion">Construcción</option>
                    <option value="consultoria">Consultoría</option>
                    <option value="logistica">Logística</option>
                    <option value="investigacion">Investigación</option>
                    <option value="arte">Arte</option>
                    <option value="derecho">Derecho</option>
                    <option value="comunicacion">Comunicación</option>
                    <option value="turismo">Turismo</option>
                    <option value="manufactura">Manufactura</option>
                    <option value="energiasrenovables">Energías Renovables</option>
                    <option value="agricultura">Agricultura</option>
                    <option value="nueva">Elegir nueva área</option>
                </select>
                <p>Area actual: {{curriculum.area|capfirst}}</p>
            </div>

            <!-- Añade aquí los campos adicionales según tu modelo -->

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        <hr>

        <!-- Sección para editar/borrar experiencias -->
        <h2>Experiencias Laborales</h2>
        {% for experiencia in experiencias_laborales %}
            <form method="post" action="{% url 'actualizar_experiencias' experiencia_id=experiencia.id%}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="empresa" class="form-label">Empresa:</label>
                    <input type="text" class="form-control" id="empresa" name="empresa" value="{{ experiencia.empresa }}" required>
                    
                </div> 
                <!-- Agrega los demás campos de experiencia -->

                <div class="mb-3">
                    <label for="puesto" class="form-label">Puesto:</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" value="{{ experiencia.puesto }}" required>
                </div>
                
                <div class="mb-3">
                    <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" value="{{experiencia.desde|date:'Y-m-d'}}">
                    <p>Fecha de inicio actual: {{experiencia.desde}}</p>
                </div>
                
                <div class="mb-3">
                    <label for="fechaTermino" class="form-label">Fecha de Término:</label>
                    <input type="date" class="form-control" id="fechaTermino" name="fechaTermino" value="{{experiencia.hasta|date:'Y-m-d'}}">
                    <p>Fecha de termino actual: {{experiencia.hasta}}</p>
                </div>
                
                <div class="mb-3">
                    <label for="area" class="form-label">Área:</label>
                    <select class="form-select" id="area" name="area">
                        <option value="" disabled selected>Seleccione una nueva area</option>
                        <option value="tecnologia">Tecnología</option>
                        <option value="salud">Salud</option>
                        <option value="finanzas">Finanzas</option>
                        <option value="educacion">Educación</option>
                        <option value="ventas">Ventas</option>
                        <option value="marketing">Marketing</option>
                        <option value="recursoshumanos">Recursos Humanos</option>
                        <option value="diseño">Diseño</option>
                        <option value="medioambiente">Medio Ambiente</option>
                        <option value="serviciosocial">Servicio Social</option>
                        <option value="construccion">Construcción</option>
                        <option value="consultoria">Consultoría</option>
                        <option value="logistica">Logística</option>
                        <option value="investigacion">Investigación</option>
                        <option value="arte">Arte</option>
                        <option value="derecho">Derecho</option>
                        <option value="comunicacion">Comunicación</option>
                        <option value="turismo">Turismo</option>
                        <option value="manufactura">Manufactura</option>
                        <option value="energiasrenovables">Energías Renovables</option>
                        <option value="agricultura">Agricultura</option>
                    </select>
                    <p>Area actual: {{experiencia.area|capfirst}}</p>
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="#" class="btn btn-danger">Borrar Experiencia</a>
            </form>
            <hr>
        {% endfor %}

        <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#experienciaModal">Agregar experiencia +</button>

        <!-- Modal Experiencia -->
        <div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="experienciaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="experienciaModalLabel">Agregar Experiencia Laboral</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'guardar_experiencia' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="empresa" class="form-label">Empresa:</label>
                                <input type="text" class="form-control" id="empresa" name="empresa" required>
                            </div>
                            <div class="mb-3">
                                <label for="puesto" class="form-label">Puesto:</label>
                                <input type="text" class="form-control" id="puesto" name="puesto" required>
                            </div>
                            <div class="mb-3">
                                <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                            </div>
                            <div class="mb-3">
                                <label for="fechaTermino" class="form-label">Fecha de Término:</label>
                                <input type="date" class="form-control" id="fechaTermino" name="fechaTermino">
                            </div>

                            <div class="mb-3">
                                <label for="area" class="form-label">Área:</label>
                                <select class="form-select" id="area" name="area" required>
                                    <option value="tecnologia">Tecnología</option>
                                    <option value="salud">Salud</option>
                                    <option value="finanzas">Finanzas</option>
                                    <option value="educacion">Educación</option>
                                    <option value="ventas">Ventas</option>
                                    <option value="marketing">Marketing</option>
                                    <option value="recursoshumanos">Recursos Humanos</option>
                                    <option value="diseño">Diseño</option>
                                    <option value="medioambiente">Medio Ambiente</option>
                                    <option value="serviciosocial">Servicio Social</option>
                                    <option value="construccion">Construcción</option>
                                    <option value="consultoria">Consultoría</option>
                                    <option value="logistica">Logística</option>
                                    <option value="investigacion">Investigación</option>
                                    <option value="arte">Arte</option>
                                    <option value="derecho">Derecho</option>
                                    <option value="comunicacion">Comunicación</option>
                                    <option value="turismo">Turismo</option>
                                    <option value="manufactura">Manufactura</option>
                                    <option value="energiasrenovables">Energías Renovables</option>
                                    <option value="agricultura">Agricultura</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="archivoExperiencia" class="form-label">Subir certificado:</label>
                                <input type="file" class="form-control" id="archivoExperiencia" name="archivoExperiencia">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h2>Habilidades</h2>
        {% for habilidad in habilidades %}
            <form method="post" action="{% url 'actualizar_habilidad' habilidad_id=habilidad.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="habilidad" class="form-label">Habilidad:</label>
                    <input type="text" class="form-control" id="habilidad" name="habilidad" value="{{ habilidad.habilidad }}" required>
                </div>
                <!-- Otros campos de habilidades si los tienes -->

                <div class="mb-3">
                    <label for="nivel" class="form-label">Nivel:</label>
                    <select class="form-select" id="nivel" name="nivel">
                        <option value="" disabled selected>Seleccione un nuevo nivel</option>
                        <option value="basico">Básico</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="avanzado">Avanzado</option>
                    </select>
                    <p>Nivel actual: {{habilidad.nivel|capfirst}}</p>
                </div>

                <div class="mb-3">
                    <label for="area" class="form-label">Área:</label>
                    <select class="form-select" id="area" name="area">
                        <option value="" disabled selected>Selecciona una nueva area</option>
                        <option value="tecnologia">Tecnología</option>
                        <option value="salud">Salud</option>
                        <option value="finanzas">Finanzas</option>
                        <option value="educacion">Educación</option>
                        <option value="ventas">Ventas</option>
                        <option value="marketing">Marketing</option>
                        <option value="recursoshumanos">Recursos Humanos</option>
                        <option value="diseño">Diseño</option>
                        <option value="medioambiente">Medio Ambiente</option>
                        <option value="serviciosocial">Servicio Social</option>
                        <option value="construccion">Construcción</option>
                        <option value="consultoria">Consultoría</option>
                        <option value="logistica">Logística</option>
                        <option value="investigacion">Investigación</option>
                        <option value="arte">Arte</option>
                        <option value="derecho">Derecho</option>
                        <option value="comunicacion">Comunicación</option>
                        <option value="turismo">Turismo</option>
                        <option value="manufactura">Manufactura</option>
                        <option value="energiasrenovables">Energías Renovables</option>
                        <option value="agricultura">Agricultura</option>
                    </select>
                    <p>Area actual: {{habilidad.area|capfirst}}</p>
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="#" class="btn btn-danger">Borrar Habilidad</a>
            </form>
            <hr>
        {% endfor %}

        <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#habilidadModal">Agregar habilidad +</button>

        <!-- Modal Habilidad -->
        <div class="modal fade" id="habilidadModal" tabindex="-1" aria-labelledby="habilidadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="habilidadModalLabel">Agregar Habilidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'guardar_habilidad' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="habilidad" class="form-label">Habilidad:</label>
                                <input type="text" class="form-control" id="habilidad" name="habilidad" required>
                            </div>
                            <div class="mb-3">
                                <label for="nivel" class="form-label">Nivel:</label>
                                <select class="form-control" id="nivel" name="nivel" required>
                                    <option value="basico">Básico</option>
                                    <option value="intermedio">Intermedio</option>
                                    <option value="avanzado">Avanzado</option>
                                </select>
                            </div>
    
                            <div class="mb-3">
                                <label for="area" class="form-label">Área:</label>
                                <select class="form-select" id="area" name="area" required>
                                    <option value="tecnologia">Tecnología</option>
                                    <option value="salud">Salud</option>
                                    <option value="finanzas">Finanzas</option>
                                    <option value="educacion">Educación</option>
                                    <option value="ventas">Ventas</option>
                                    <option value="marketing">Marketing</option>
                                    <option value="recursoshumanos">Recursos Humanos</option>
                                    <option value="diseño">Diseño</option>
                                    <option value="medioambiente">Medio Ambiente</option>
                                    <option value="serviciosocial">Servicio Social</option>
                                    <option value="construccion">Construcción</option>
                                    <option value="consultoria">Consultoría</option>
                                    <option value="logistica">Logística</option>
                                    <option value="investigacion">Investigación</option>
                                    <option value="arte">Arte</option>
                                    <option value="derecho">Derecho</option>
                                    <option value="comunicacion">Comunicación</option>
                                    <option value="turismo">Turismo</option>
                                    <option value="manufactura">Manufactura</option>
                                    <option value="energiasrenovables">Energías Renovables</option>
                                    <option value="agricultura">Agricultura</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="archivoHabilidad" class="form-label">Subir certificado:</label>
                                <input type="file" class="form-control" id="archivoHabilidad" name="archivoHabilidad">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h2>Idiomas</h2>
        {% for idioma in idiomas %}
            <form method="post" action="{% url 'actualizar_idioma' idioma_id=idioma.id%}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="idioma" class="form-label">Idioma:</label>
                    <input type="text" class="form-control" id="idioma" name="idioma" value="{{ idioma.idioma }}" required>
                </div>
                <!-- Otros campos de idiomas si los tienes -->

                <div class="mb-3">
                    <label for="nivel_idioma" class="form-label">Nivel:</label>
                    <select class="form-select" id="nivel_idioma" name="nivel_idioma">
                        <option value="" disabled selected>Seleccione un nuevo nivel</option>
                        <option value="A1">A1: Básico</option>
                        <option value="A2">A2: Básico Intermedio</option>
                        <option value="B1">B1: Intermedio</option>
                        <option value="B2">B2: Intermedio Alto</option>
                        <option value="C1">C1: Avanzado</option>
                        <option value="C2">C2: Maestría</option>
                    </select>
                    <p>Nivel actual: {{idioma.nivel_idioma}}</p>
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="#" class="btn btn-danger">Borrar Idioma</a>
            </form>
            <hr>
        {% endfor %}

        <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#idiomaModal">Agregar idioma +</button>

        <!-- Modal Idioma -->
        <div class="modal fade" id="idiomaModal" tabindex="-1" aria-labelledby="idiomaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="idiomaModalLabel">Agregar Idioma</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'guardar_idioma' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="idioma" class="form-label">Idioma:</label>
                                <input type="text" class="form-control" id="idioma" name="idioma" required>
                            </div>
                            <div class="mb-3">
                                <label for="nivelIdioma" class="form-label">Nivel de Idioma:</label>
                                <select class="form-control" id="nivelIdioma" name="nivelIdioma" required>
                                    <option value="A1">A1: Básico</option>
                                    <option value="A2">A2: Básico Intermedio</option>
                                    <option value="B1">B1: Intermedio</option>
                                    <option value="B2">B2: Intermedio Alto</option>
                                    <option value="C1">C1: Avanzado</option>
                                    <option value="C2">C2: Maestría</option>
                                </select>
                            </div>
    
                            <div class="mb-3">
                                <label for="area" class="form-label" style="display: none;">Área:</label>
                                <input type="hidden" class="form-control" id="area" name="area" value="Conocimiento idiomatico" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="archivoIdioma" class="form-label">Subir certificado:</label>
                                <input type="file" class="form-control" id="archivoIdioma" name="archivoIdioma">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <h2>Educación</h2>
        {% for edu in educacion %}
            <form method="post" action="{% url 'actualizar_educacion' educacion_id=edu.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nivel_educacion" class="form-label">Nivel de Educación:</label>
                    <select class="form-select" id="nivel_educacion" name="nivel_educacion">
                        <option value="" disabled selected>Selecciona un nuevo nivel</option>
                        <option value="basica">Basica</option>
                        <option value="media">Media</option>
                        <option value="superior">Superior</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                    <p>Nivel actual: {{edu.nivel_educacion}}</p>
                </div>
                <!-- Otros campos de educación si los tienes -->

                <div class="mb-3">
                    <label for="nombre_instituto" class="form-label">Nombre del Instituto:</label>
                    <input type="text" class="form-control" id="nombre_instituto" name="nombre_instituto" value="{{ edu.nombre_instituto }}" required>
                </div>

                <!-- Agrega los demás campos de educación -->
                <div class="mb-3">
                    <label for="curso_inicio" class="form-label">Curso de Inicio:</label>
                    <input type="text" class="form-control" id="curso_inicio" name="curso_inicio" value="{{ edu.curso }}" required>
                </div>
                
                <!-- Campo de Fecha de Inicio -->
                <div class="mb-3">
                    <label for="fecha_inicio" class="form-label">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{ edu.desde|date:'Y-m-d' }}">
                    <p>Fecha de inicio actual: {{edu.desde}}</p>
                </div>
                
                <!-- Campo de Curso de Término -->
                <div class="mb-3">
                    <label for="curso_termino" class="form-label">Curso de Término:</label>
                    <input type="text" class="form-control" id="curso_termino" name="curso_termino" value="{{ edu.curso_termino }}" required>
                </div>
                
                <!-- Campo de Fecha de Término -->
                <div class="mb-3">
                    <label for="fecha_termino" class="form-label">Fecha de Término:</label>
                    <input type="date" class="form-control" id="fecha_termino" name="fecha_termino" value="{{ edu.hasta|date:'Y-m-d' }}">
                    <p>fecha de termino actual: {{edu.hasta}}</p>
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="#" class="btn btn-danger">Borrar Educación</a>
            </form>
            <hr>
        {% endfor %}

        <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#educacionModal">Agregar educación +</button>

        <!-- Modal Educación -->
        <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="educacionModalLabel">Agregar Educación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'guardar_educacion' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="nivelEducacion" class="form-label">Nivel de Educación:</label>
                                <select class="form-control" id="nivelEducacion" name="nivelEducacion">
                                    <option value="basica">Básica</option>
                                    <option value="media">Media</option>
                                    <option value="superior">Superior</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="instituto" class="form-label">Nombre del Instituto:</label>
                                <input type="text" class="form-control" id="instituto" name="instituto" required>
                            </div>
                            <div class="mb-3">
                                <label for="cursos" class="form-label">Curso de inicio:</label>
                                <input type="text" class="form-control" id="cursos" name="cursos" required>
                            </div>
                            <div class="mb-3">
                                <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                            </div>
                            <div class="mb-3">
                                <label for="cursoTermino" class="form-label">Curso de Término:</label>
                                <input type="text" class="form-control" id="cursoTermino" name="cursoTermino" required>
                            </div>
                            <div class="mb-3">
                                <label for="fechaTermino" class="form-label">Fecha de Término:</label>
                                <input type="date" class="form-control" id="fechaTermino" name="fechaTermino" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="area_educacion" class="form-label">Área:</label>
                                <select class="form-select" id="area_educacion" name="area">
                                    <option value="" disabled selected>No seleccionada</option>
                                    <option value="tecnologia">Tecnología</option>
                                    <option value="salud">Salud</option>
                                    <option value="finanzas">Finanzas</option>
                                    <option value="educacion">Educación</option>
                                    <option value="ventas">Ventas</option>
                                    <option value="marketing">Marketing</option>
                                    <option value="recursoshumanos">Recursos Humanos</option>
                                    <option value="diseño">Diseño</option>
                                    <option value="medioambiente">Medio Ambiente</option>
                                    <option value="serviciosocial">Servicio Social</option>
                                    <option value="construccion">Construcción</option>
                                    <option value="consultoria">Consultoría</option>
                                    <option value="logistica">Logística</option>
                                    <option value="investigacion">Investigación</option>
                                    <option value="arte">Arte</option>
                                    <option value="derecho">Derecho</option>
                                    <option value="comunicacion">Comunicación</option>
                                    <option value="turismo">Turismo</option>
                                    <option value="manufactura">Manufactura</option>
                                    <option value="energiasrenovables">Energías Renovables</option>
                                    <option value="agricultura">Agricultura</option>
                                </select>
                            </div>
    
                            <div class="mb-3">
                                <label for="archivoEducacion" class="form-label">Subir certificado:</label>
                                <input type="file" class="form-control" id="archivoEducacion" name="archivoEducacion">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    

        <!-- Repite un bloque similar para las secciones de habilidades, idiomas y educación -->

    </section>
    {% else %}


    <div class="container mt-5">
        <h1 class="text-center">Registro de Currículum</h1>
        <form action="{% url 'guardar_curriculum' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre completo:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo electrónico:</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="tel" class="form-control" id="telefono" name="telefono">
            </div>

            <div class="mb-3">
                <label for="area" class="form-label">Área principal de trabajo:</label>
                <select class="form-select" id="area" name="area">
                    <option value="tecnologia">Tecnología</option>
                    <option value="salud">Salud</option>
                    <option value="finanzas">Finanzas</option>
                    <option value="educacion">Educación</option>
                    <option value="ventas">Ventas</option>
                    <option value="marketing">Marketing</option>
                    <option value="recursoshumanos">Recursos Humanos</option>
                    <option value="diseño">Diseño</option>
                    <option value="medioambiente">Medio Ambiente</option>
                    <option value="serviciosocial">Servicio Social</option>
                    <option value="construccion">Construcción</option>
                    <option value="consultoria">Consultoría</option>
                    <option value="logistica">Logística</option>
                    <option value="investigacion">Investigación</option>
                    <option value="arte">Arte</option>
                    <option value="derecho">Derecho</option>
                    <option value="comunicacion">Comunicación</option>
                    <option value="turismo">Turismo</option>
                    <option value="manufactura">Manufactura</option>
                    <option value="energiasrenovables">Energías Renovables</option>
                    <option value="agricultura">Agricultura</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Experiencia laboral:</label>
                <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#experienciaModal">Agregar experiencia +</button>
                <!-- Condición para mostrar datos de experiencia laboral si existen -->
                {% if experiencias_laborales %}
                    <div>
                        {% for experiencia in experiencias_laborales %}
                            {{ experiencia.empresa }} - {{ experiencia.puesto }}<br>
                            <button type="button" class="btn btn-danger mt-2" id="quitarIdiomaBtn" onclick="#">Quitar</button>
                            <!-- Mostrar otros datos de experiencia laboral si los tienes -->
                            <hr>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay datos de experiencia laboral.</p>
                {% endif %}
            </div>
            
            <div class="mb-3">
                <label class="form-label">Educación:</label>
                <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#educacionModal">Agregar educación +</button>
                <!-- Condición para mostrar datos de educación si existen -->
                {% if educacion %}
                    <div>
                        {% for edu in educacion %}
                            {{ edu.nivel_educacion }} - {{ edu.nombre_instituto }}<br>
                            <button type="button" class="btn btn-danger mt-2" id="quitarIdiomaBtn" onclick="#">Quitar</button>
                            <!-- Mostrar otros datos de educación si los tienes -->
                            <hr>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay datos de educación.</p>
                {% endif %}
            </div>
            
            <div class="mb-3">
                <label class="form-label">Habilidades:</label>
                <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#habilidadesModal">Agregar habilidad +</button>
                <!-- Condición para mostrar datos de habilidades si existen -->
                {% if habilidades %}
                    <div>
                        {% for habilidad in habilidades %}
                            {{ habilidad.habilidad }} - Nivel: {{ habilidad.nivel }}<br>
                            <button type="button" class="btn btn-danger mt-2" id="quitarIdiomaBtn" onclick="#">Quitar</button>
                            <!-- Mostrar otros datos de habilidades si los tienes -->
                            <hr>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay datos de habilidades.</p>
                {% endif %}
            </div>
            
            <div class="mb-3">
                <label class="form-label">Idiomas:</label>
                <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#idiomasModal">Agregar idioma +</button>
                <!-- Condición para mostrar datos de idiomas si existen -->
                {% if idiomas %}
                    <div>
                        {% for idioma in idiomas %}
                            {{ idioma.idioma }} - Nivel: {{ idioma.nivel_idioma }}<br>
                            <button type="button" class="btn btn-danger mt-2" id="quitarIdiomaBtn" onclick="#">Quitar</button>
                            <!-- Mostrar otros datos de idiomas si los tienes -->
                            <hr>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay datos de idiomas.</p>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <!-- Modal Experiencia -->
    <div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="experienciaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="experienciaModalLabel">Agregar Experiencia Laboral</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'guardar_experiencia' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="empresa" class="form-label">Empresa:</label>
                            <input type="text" class="form-control" id="empresa" name="empresa" required>
                        </div>
                        <div class="mb-3">
                            <label for="puesto" class="form-label">Puesto:</label>
                            <input type="text" class="form-control" id="puesto" name="puesto" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaTermino" class="form-label">Fecha de Término:</label>
                            <input type="date" class="form-control" id="fechaTermino" name="fechaTermino">
                        </div>

                        <div class="mb-3">
                            <label for="area" class="form-label">Área:</label>
                            <select class="form-select" id="area" name="area" required>
                                <option value="tecnologia">Tecnología</option>
                                <option value="salud">Salud</option>
                                <option value="finanzas">Finanzas</option>
                                <option value="educacion">Educación</option>
                                <option value="ventas">Ventas</option>
                                <option value="marketing">Marketing</option>
                                <option value="recursoshumanos">Recursos Humanos</option>
                                <option value="diseño">Diseño</option>
                                <option value="medioambiente">Medio Ambiente</option>
                                <option value="serviciosocial">Servicio Social</option>
                                <option value="construccion">Construcción</option>
                                <option value="consultoria">Consultoría</option>
                                <option value="logistica">Logística</option>
                                <option value="investigacion">Investigación</option>
                                <option value="arte">Arte</option>
                                <option value="derecho">Derecho</option>
                                <option value="comunicacion">Comunicación</option>
                                <option value="turismo">Turismo</option>
                                <option value="manufactura">Manufactura</option>
                                <option value="energiasrenovables">Energías Renovables</option>
                                <option value="agricultura">Agricultura</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="archivoExperiencia" class="form-label">Subir certificado:</label>
                            <input type="file" class="form-control" id="archivoExperiencia" name="archivoExperiencia">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Educación -->
    <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="educacionModalLabel">Agregar Educación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'guardar_educacion' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nivelEducacion" class="form-label">Nivel de Educación:</label>
                            <select class="form-control" id="nivelEducacion" name="nivelEducacion">
                                <option value="basica">Básica</option>
                                <option value="media">Media</option>
                                <option value="superior">Superior</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="instituto" class="form-label">Nombre del Instituto:</label>
                            <input type="text" class="form-control" id="instituto" name="instituto" required>
                        </div>
                        <div class="mb-3">
                            <label for="cursos" class="form-label">Curso de inicio:</label>
                            <input type="text" class="form-control" id="cursos" name="cursos" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                        </div>
                        <div class="mb-3">
                            <label for="cursoTermino" class="form-label">Curso de Término:</label>
                            <input type="text" class="form-control" id="cursoTermino" name="cursoTermino" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaTermino" class="form-label">Fecha de Término:</label>
                            <input type="date" class="form-control" id="fechaTermino" name="fechaTermino" required>
                        </div>

                        <div class="mb-3">
                            <label for="area_educacion" class="form-label">Área:</label>
                            <select class="form-select" id="area_educacion" name="area">
                                <option value="" disabled selected>No seleccionada</option>
                                <option value="tecnologia">Tecnología</option>
                                <option value="salud">Salud</option>
                                <option value="finanzas">Finanzas</option>
                                <option value="educacion">Educación</option>
                                <option value="ventas">Ventas</option>
                                <option value="marketing">Marketing</option>
                                <option value="recursoshumanos">Recursos Humanos</option>
                                <option value="diseño">Diseño</option>
                                <option value="medioambiente">Medio Ambiente</option>
                                <option value="serviciosocial">Servicio Social</option>
                                <option value="construccion">Construcción</option>
                                <option value="consultoria">Consultoría</option>
                                <option value="logistica">Logística</option>
                                <option value="investigacion">Investigación</option>
                                <option value="arte">Arte</option>
                                <option value="derecho">Derecho</option>
                                <option value="comunicacion">Comunicación</option>
                                <option value="turismo">Turismo</option>
                                <option value="manufactura">Manufactura</option>
                                <option value="energiasrenovables">Energías Renovables</option>
                                <option value="agricultura">Agricultura</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="archivoEducacion" class="form-label">Subir certificado:</label>
                            <input type="file" class="form-control" id="archivoEducacion" name="archivoEducacion">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Habilidades -->
    <div class="modal fade" id="habilidadesModal" tabindex="-1" aria-labelledby="habilidadesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="habilidadesModalLabel">Agregar Habilidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'guardar_habilidad' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="habilidad" class="form-label">Habilidad:</label>
                            <input type="text" class="form-control" id="habilidad" name="habilidad" required>
                        </div>
                        <div class="mb-3">
                            <label for="nivel" class="form-label">Nivel:</label>
                            <select class="form-control" id="nivel" name="nivel" required>
                                <option value="basico">Básico</option>
                                <option value="intermedio">Intermedio</option>
                                <option value="avanzado">Avanzado</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="area" class="form-label">Área:</label>
                            <select class="form-select" id="area" name="area" required>
                                <option value="tecnologia">Tecnología</option>
                                <option value="salud">Salud</option>
                                <option value="finanzas">Finanzas</option>
                                <option value="educacion">Educación</option>
                                <option value="ventas">Ventas</option>
                                <option value="marketing">Marketing</option>
                                <option value="recursoshumanos">Recursos Humanos</option>
                                <option value="diseño">Diseño</option>
                                <option value="medioambiente">Medio Ambiente</option>
                                <option value="serviciosocial">Servicio Social</option>
                                <option value="construccion">Construcción</option>
                                <option value="consultoria">Consultoría</option>
                                <option value="logistica">Logística</option>
                                <option value="investigacion">Investigación</option>
                                <option value="arte">Arte</option>
                                <option value="derecho">Derecho</option>
                                <option value="comunicacion">Comunicación</option>
                                <option value="turismo">Turismo</option>
                                <option value="manufactura">Manufactura</option>
                                <option value="energiasrenovables">Energías Renovables</option>
                                <option value="agricultura">Agricultura</option>
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="archivoHabilidad" class="form-label">Subir certificado:</label>
                            <input type="file" class="form-control" id="archivoHabilidad" name="archivoHabilidad">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modal de idiomas -->
    <div class="modal fade" id="idiomasModal" tabindex="-1" aria-labelledby="idiomasModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="idiomasModalLabel">Agregar Idioma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'guardar_idioma' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="idioma" class="form-label">Idioma:</label>
                            <input type="text" class="form-control" id="idioma" name="idioma" required>
                        </div>
                        <div class="mb-3">
                            <label for="nivelIdioma" class="form-label">Nivel de Idioma:</label>
                            <select class="form-control" id="nivelIdioma" name="nivelIdioma" required>
                                <option value="A1">A1: Básico</option>
                                <option value="A2">A2: Básico Intermedio</option>
                                <option value="B1">B1: Intermedio</option>
                                <option value="B2">B2: Intermedio Alto</option>
                                <option value="C1">C1: Avanzado</option>
                                <option value="C2">C2: Maestría</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="area" class="form-label" style="display: none;">Área:</label>
                            <input type="hidden" class="form-control" id="area" name="area" value="Conocimiento idiomatico" required>
                        </div>

                        <div class="mb-3">
                            <label for="archivoIdioma" class="form-label">Subir certificado:</label>
                            <input type="file" class="form-control" id="archivoIdioma" name="archivoIdioma">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {%endif%}

    <script>
        function toggleAreaVisibility() {
            var nivelEducacion = document.getElementById('nivelEducacion');
            var areaField = document.getElementById('area_educacion');
            var areaLabel = document.querySelector('label[for=area_educacion]');
    
            if (nivelEducacion.value === 'superior') {
                areaField.style.display = 'block';
                areaLabel.style.display = 'block';
            } else {
                areaField.style.display = 'none';
                areaLabel.style.display = 'none';
            }
        }
    
        document.getElementById('nivelEducacion').addEventListener('change', toggleAreaVisibility);
    
        toggleAreaVisibility();
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
