<!DOCTYPE html>
<html>
<head>
    <title>Restablecimiento de Contraseña</title>
    <!-- Enlaza tus archivos CSS o utiliza estilos en línea según tu preferencia -->
</head>
<body>
    <div class="container">
        <h2>Restablecimiento de Contraseña</h2>
        <p>Por favor, elige una nueva contraseña para tu cuenta.</p>
        
        <form action="{% url 'reset_contrasena' email token %}" method="post">
            {% csrf_token %}
            
            <!-- Campo para la nueva contraseña -->
            <div class="mb-3">
                <label for="id_password" class="form-label">Nueva Contraseña:</label>
                <input type="password" name="password" id="id_password" class="form-control" required>
            </div>
            
            <!-- Campo para la confirmación de la contraseña -->
            <div class="mb-3">
                <label for="id_confirm_password" class="form-label">Confirmar Contraseña:</label>
                <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" required>
            </div>

            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="token" value="{{ token }}">
            
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </form>
    </div>
</body>
</html>