/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#resume, #create-resume {
    margin-top: 20px;
}

h2 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}
