/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

textarea, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Agrega estilos adicionales según sea necesario */
